image:
  repository: ghcr.io/ORG/REPO
  tag: "latest"
  pullPolicy: IfNotPresent
nameOverride: ""
fullnameOverride: ""

replicaCount: 2
service:
  type: ClusterIP
  port: 8000

env: []
envFrom: []
resources: {}
ingress:
  enabled: false
  className: ""
  hosts: []
  tls: []
hpa:
  enabled: true
  min: 2
  max: 10
  cpu: 70

serviceMonitor:
  enabled: true
  portName: http
  path: /metrics
