fastapi==0.115.3
uvicorn==0.32.0
pydantic==2.9.2
ray==2.35.0
aiokafka==0.10.0
SQLAlchemy[asyncio]==2.0.35
asyncpg==0.29.0
httpx==0.27.2
tenacity==9.0.0
prometheus-client==0.21.0
pytest==8.3.3
pytest-asyncio==0.24.0

